* {
    margin: 0;
    padding: 0;
}

header {
    background-color: bisque;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
}

.principal {
 background-color: cadetblue;
 text-align: center;
 padding: 1rem;
}
ul{
    list-style: none;
}

h1 {
    font-size: 2rem;
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

p {
    tex
    font-size: 1rem;
    color: blueviolet;

}

main {
    background-color: aquamarine;
    width: 100%;
    height: 300px;
}
footer {
    background-color: brown;
    width: 100%;
    height: 200px;
}